/pre_model/chinese/chinese_roberta_wwm_large_ext_pytorch/
/pre_model/chinese/chinese_roberta_wwm_large_ext_pytorch.zip
/pre_model/english/spanbert-base-cased/
/pre_model/english/spanbert-base-cased.zip
/checkpoints/
/data/chinese/dev(copy).json
/data/chinese/test(copy).json
/data/chinese/train(copy).json
/data/chinese/bak/
/data/cluewsc2020_public.zip
/data/test(copy).json
/data/english/dev/dev.english.128.jsonlines
/data/english/test/test.english.128.jsonlines
/data/english/train/train.english.128.jsonlines
/data/chinese/dev/dev.chinese.128.jsonlines
/data/chinese/test/test.chinese.128.jsonlines
/data/chinese/train/train.chinese.128.jsonlines